<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">

    <title>@voerro/vue-tagsinput</title>
    
    <link rel="stylesheet" href="dist/style.css">
    <link rel="stylesheet" href="demo/css/bulma.min.css">
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">@voerro/vue-tagsinput</h1>
                <h2 class="subtitle">
                    Tags input for Vue.js 2 by
                    <a href="http://voerro.com">Voerro</a>
                </h2>
            </div>
        </div>
    </section>

    <div id="voerro-tags-input-demo-vqk6etkfjrcpsjg5">

        <div style="padding: 2rem;">
            <div class="columns">
                <div class="column is-3">
                    <h2 class="is-size-4" style="margin-bottom: 1rem;">Options</h2>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" v-model="typeahead">
                                Typeahead/autocomplete on
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Placeholder</label>

                        <div class="control">
                            <input class="input" type="text" v-model="placeholder">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Limit</label>
                    
                        <div class="control">
                            <input class="input" type="text" v-model="limit">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" v-model="onlyExistingTags"> 
                                Allow to add only existing tags
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" v-model="deleteOnBackspace"> 
                                Delete on Backspace
                            </label>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <tags-input
                        v-model="selectedTags"
                        element-id="tags"
                        :existing-tags="{
                            'children-of-bodom': 'Children of Bodom',
                            'epica': 'Epica',
                            'emperor': 'Emperor',
                            'shape-of-despair': 'Shape of Despair',
                            'protest-the-hero': 'Protest the Hero',
                            'my-dying-bride': 'My Dying Bride',
                            'ne-obliviscaris': 'Ne Obliviscaris',
                            'belakor': 'Be\'lakor',
                            'dark-lunacy': 'Dark Lunacy',
                            'dominia': 'Dominia',
                            'jason-becker': 'Jason Becker',
                            'jeff-loomis': 'Jeff Loomis',
                            'persefone': 'Persefone',
                        }"
                        :typeahead="typeahead"
                        :placeholder="placeholder"
                        :limit="limit"
                        :only-existing-tags="onlyExistingTags"
                        :delete-on-backspace="deleteOnBackspace"></tags-input>

                    <hr>

                    <h2 class="is-size-5">Selected tags (via v-model):</h2>

                    <p v-text="selectedTags"></p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="dist/voerro-vue-tagsinput.js"></script>

    <script>
        new Vue({
            el: '#voerro-tags-input-demo-vqk6etkfjrcpsjg5',

            components: { TagsInput },

            data: {
                selectedTags: [
                    'ne-obliviscaris',
                    'epica',
                    'shape-of-despair',
                ],
                typeahead: true,
                placeholder: 'Customizable placeholder',
                limit: 0,
                onlyExistingTags: false,
                deleteOnBackspace: true,
            }
        });
    </script>
</body>
</html>
